/*all*/
* { 
    padding: 0; 
    margin: 0;
    text-decoration:none;
}
body{
	font-size: 12px;
	font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
	padding: 0; 
    margin: 0;
    background-size:100%;
}
a{
	color: #999;
}
a:hover{
	text-decoration: none;
}
li{
	color:#999;
	list-style-type:none;
	display: inline-block;
}
img{
	border: none;

}
.redColor{
	color: #C40000 !important;
}
input {
	outline:medium;
}
/*footer*/
.footer{
	margin: 0px 0px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e7e7e7;
}
.footer_ensure{
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: center;
}
.footer_desc{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e7e7e7;
	padding-top: 30px;
	margin: 0px 20px;
}
.footer_desc div.descColumn{
	width: 20%;
	float: left;
	padding-left: 15px;
}
.footer_desc div.descColumn span.descColumnTitle{
	color: #646464;
	font-weight: bold;
	font-size: 16px;
}
.footer_desc a{
	display: block;
	padding-top: 3px;
}
body{
	font-size: 12px;
	font-family: Arial;
}
a{
	color:#999;
}
a:hover{
	text-decoration:none;
	color: #C40000;
}

.footer{
	margin: 0px 0px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e7e7e7;
}
.copyright{
	background-color: black;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #C40000;
}
.copyright span.slash{
	color: white;
}
.footer div.copyright div.white_link a{
	color: white;
	padding: 0px 5px;
}
.footer div.copyright div.white_link{
	padding: 10px 0px;
	margin-left: 10px;
}
.license{
	margin-left: 10px;
	padding-bottom: 30px;
}
.license span{
	color: #A4A4A4;
}
.license div.copyRightYear{
	margin: 10px 0px;
	color: #686868;
}
img.cateye{
	margin-left: 20px;
}